*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    
}



html{
    scroll-behavior: smooth;
}

:root{
    --main:#036e3a;
}

.home{
    width: 100vw;
    height: 60vh;
    position: relative;
   
}


.nav-bar{
    display: flex;
    align-items: center;
    width: 100vw;
    height: 85px;
    background-color: transparent;
    justify-content: space-evenly;
    z-index: 99;
    background-color: white;
    position: fixed;
   
  
}

.nav-bar .logo{

    width: 70%;
    height: 100%;
    
    
}

.nav-bar .logo img{
   width: 100%;
   margin-top: 10px;
   padding-left: 10px;
}

.nav-bar #nav-links{
    display: flex;
    gap: 20px;
    list-style: none;
}

.nav-bar #nav-links li a{
    color: #444;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: 2px;
    
}


.nav-bar #login{
    width: 10rem;
    border-radius: 10px;
    outline: none;
    border: 2px solid var(--main);
    background: none;
    padding: 10px;
    font-weight: bold;
    font-size: 1.1rem;
    margin-right: 10px;
    transition: .5s;
}

.nav-bar #login:hover{
    background-color: #036e3a;
    color: white;
    border: none;
    cursor: pointer;
}

.hero-image{
    width: 100vw;
    height: 100%;
    position: absolute;
    top: 0px;
    z-index: -3;
  

}

.hero-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;

    
}

.hero-image video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    
}

.mobile_nav
{
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: whitesmoke;
    right:100%;
    top: 85px;
    transition: .8s;
    display: none;
    z-index: 999;
        
}
#mobile_nav_links{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 35px;
    border-bottom: 1px solid #036e3a;
    list-style: none;
    padding-bottom: 50px;
    
}

#mobile_nav_links li a{
    color: black;
    font-weight: bold;
    text-decoration: none;
    padding-left: 35px;
    letter-spacing: 1px;
} 

.right-bar{
    width: 35px;
    height: 35px;
    background: none;
    border: none;
    display: none;

}

.right-bar::before,
.right-bar .bar,
.right-bar::after{
    content: '';
    width: 100%;
    background-color: #036e3a;
    display: block;
    height: 3px;
    margin: 6px 0px;
    transition: .5s;
    border-radius: 15%;
}

#mobile_nav_links li,a{
    transition: .5s;
    padding: 10px;
}

#mobile_nav_links li{
    position: relative;
}

#mobile_nav_links li a::before{
    content: '';
    width: 0%;
    height: 3px;
    background-color: #036e3a;
    position: absolute;
    bottom: -5px;
    transition: all .5s ease;
    border-radius: 15px;
}

#mobile_nav_links li a:hover::before{
    width: 30%;
}



#mobile_login{

    width: 10rem;
    border-radius: 10px;
    outline: none;
    border: 2px solid #036e3a;
    background: none;
    padding: 10px;
    font-weight: bold;
    font-size: 1.1rem;
    margin-top: 35px;
    margin-left: 35px;
    transition: all .5s ease;

}

.right-bar.is-active .bar{
    opacity: 0;
}

.right-bar.is-active::before{
    transform: rotate(-45deg) translate(-8px,7px);
}

.right-bar.is-active::after{
    transform: rotate(45deg) translate(-6px,-6px);
}


.mobile_footer{
    
    background-color: rgba(0, 0, 0, 0.162);
    display: flex;
    height: 15%;
    align-items: center;
    position: absolute;
    width: 100%;
    justify-content: center;
    bottom: 10%;
}

.mobile_footer p{
    color: black;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: 1px;
}

#mobile_login:hover{
    background-color: #036e3a;
    color: white;
    
}



@media (max-width:992px){
        .right-side{
            display: none;
        }

        #login{
            display: none;
        }

        .right-bar{
            display: block;
        }

        .mobile_nav{
            display: block;
        }
}

.mobile_nav.is-active{
    right: 0%;
}


.search_bar{
    width: 80%;
    height: 60px;
    position: absolute;
    top: 60%;
    left: 10%;
    border-radius: 20px;
    border: none;
    outline: none;
    
}

.search_bar input{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    outline: none;
    border: none;
    background-color: whitesmoke;
    text-align: center;
    font-weight: bold;
    font-size: 1.8rem;
    color: #036e3a;
    
}

.search_img{
    width: 45px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 10px;
    top: 8px;
    

}
.search_img img{
    width: 100%;
    
}

#nav-links li{

    position: relative;
   
}

#nav-links li a::before{
    content: '';
    width: 0%;
    height: 3px;
    background-color: #036e3a;
    position: absolute;
    bottom: -10px;
    transition: all .5s ease;
    border-radius: 15px;
    left:0.4%;
}

#nav-links .activate a::before{
    width: 100%;
    
}


#nav-links li a:hover::before{
    width: 100%;
}

::placeholder{
    color: rgb(188, 188, 188);
}


.sub-home{
    width: 100vw;
    min-height: 50vh;
    
}


.looking-for{

    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    gap: 1rem;
    padding: 20px;
    place-items: center;
    width: 100vw;
    height: 100%;
    align-items: center;
   
}

.img{
    overflow: hidden;
    width: 100%;
    height: 75%;
}

.card{
  
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 80%;
    height: 100%;
    overflow: hidden;
    box-shadow: 1px 10px 10px rgba(0, 0, 0, 0.162);
    border-radius: 30px;
}

.card img{
    width: 100%;
    transition: all .5s ease;
    
}


.description{
    text-align: center;
    
}

.description p{
    display: block;
    font-weight: bold;
    text-transform: uppercase;
   
    
}

.description span{
    color: #036e3a;
    font-weight: bold;
    font-size: 2rem;
    transition: all .5s ease;
    display: block;
}

.card:hover span{
    transform: translateX(30px);
}

.card:hover img{
    transform: scale(1.2);
    

}



body{
    overflow-x: hidden;
}

@media(max-width:568px){
    .looking-for{
        
        grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    }
}

.sub-hero-image{
    width: 100vw;
    min-height: 30vh;
    background-image: url("./Images/sub-hero-image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    opacity: 0;
    transition: 5s;

    
}



.sub-hero-image.show2{
    opacity: 1;
    animation-name: subAnime;
    animation-duration: .8s;
}

@keyframes subAnime
{   
    0%{
        transform: translatex(-100%);
    }
    100%{
        transform: translateX(0px);
    }
}

.about-agzone{
    width: 100%;
    height: 100vh;
}

.about{
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 100%;
  
}

.image{
    width: 50%;
    height: 100%;
   
}



.image img{
    width: 70%;
   margin-left: 10%;
}

.about-agzone #inc{
    font-weight: bold;
    font-size: 2.5rem;
    display: block;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-left: 30px;
    color: #036e3a;
}


.about-para{
    width: 50%;
    height: 100%;
    position: relative;
}

.about-para p{

  font-weight: bold;
  letter-spacing: 2px;
  text-align: justify;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 80%;
}


.about-para span{
    color: #036e3a;
    font-size: 1.3rem;
}

@media(max-width:992px)
{
    .about{
        flex-direction: column;
    }

    .image{
        width: 100%;
        height: 100%;
       
    }

    .image img{
        width: 100%;
        margin: 0 auto;
    }


    .about-para{
        width: 100%;
     
    }

  
}

.services{
    width: 100vw;
    height: 100vh;
    position: relative;

}

.heading{
    display: block;
    text-align: center;

}

.heading p{
    font-weight: bold;
    font-size: 2.5rem;
    color: #036e3a;
}

.service-image{
    background-image: url("./Images/services-new-2..jpg");
    width: 90%;
    height: 60%;
    margin-left: 4.5%;
    margin-top: 2%;
    background-size: cover;
    border-radius: 20px;
   background-position: center;
    
}

.cards{
    display: flex;
    width: 100%;
    gap: 50px;
    justify-content: center;
    position: absolute;
    bottom: 40px;
   
}


.actual-card{
   
    background-color: white;
    width: 350px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    position: relative;
    opacity: 0;
    transition: all 2s;
    filter: blur(5px);
    transform: translateX(-100%);
    border-radius: 5px;
   
}

.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}




@media(prefers-reduced-motion){
    .actual-card{
        transition: 0;
    }
}


.card-image{
    
    position: absolute;
    width: 20%;
    height: 20%;
    top: -7px;

}

.card-image img{
        width: 100%;
        height: 100%;   
    
}

.content{
   
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.content .head{
    background-color: #07774142;
    width: 100%;
    height: 100px;
    border-radius: 5px 5px 0px 0px;
}



.content #para{
    color: rgb(151, 151, 151);
}

.content #more{
    font-weight: bold;
    font-size: 1.1rem;
    transition: all .5s ease;
    display: block;
    width: 40%;
    padding: 5px;
    color: #036e3a;
    border: 2px solid #555;
    outline: none;
    margin-bottom: 30px;
}

#more:hover{
    transform: scale(1.2);
    cursor: pointer;
    background-color: #036e3a;
    color: white;
    border: 2px solid #036e3a;
}



.footer{
    width: 100vw;
    min-height: 15vh;
    background-color: #036e3a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.footer p:hover{
    cursor: pointer;
}

.left-side-footer p{
   padding-left: 30px;
   font-weight: bold;
   font-size: 1.2rem;
}

.right-side-footer p{
    padding-right: 30px;
    font-weight: bold;
    font-size: 1.2rem;
}


.right-side-footer a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
}

.right-side-footer a:hover{
    cursor: pointer;
}


@media(max-width:992px)
{
    .footer{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        text-align: center;
    }

    .left-side-footer p{
        font-size: 1rem;
        
    }

    .right-side-footer p{
        font-size: 1rem;
    }
}


.our-partners{
    width: 100vw;
    height: 40vh;
    margin-top: 10%;
   
}

.our-partners h3{
    text-align: center;
    color: #888;
    letter-spacing: 1px;
}


.our-partners h1{
    text-align: center;
    padding-top: 20px;
    font-size: 2.5rem;
    letter-spacing: 2px;
    color: #036e3a;
}


.our-partners .partners{
    display: flex;
    height: 50%;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 50px;
    
}

#partners-img{
    opacity: 0;
    transition: all 2s;
    filter: blur(5px);
    transform: translateX(-100%);
}

#partners-img.show3{
    opacity: 1;
    filter: blur(0px);
    transform: translateX(0%);
}
.partners img{
    transition: all .4s ease;
}

.partners .img1{
    width: 10%;
}

.partners img:hover{
    cursor: pointer;
    transform: scale(1.3);
}

.img1 img{
    width: 100%;
}


.partners .img2{
    width: 20%;
}

.img2 img{
    width: 100%;
}


.partners .img3{
    width: 10%;
}

.img3 img{
    width: 100%;
}


.partners .img4{
    width: 10%;
}

.img4 img{
    width: 100%;
}


.recent-updates{
    width: 100vw;
    height: 80vh;
    margin-top: 10%;

}


.recent-updates h1{
    text-align: center;
    padding-top: 20px;
    font-size: 2.5rem;
    letter-spacing: 2px;
    color: #036e3a;

}

.recent-pics{
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 80px;
    opacity: 0;
    transition: all 2s;
    filter: blur(10px);
    transform: translateX(-100%)
}

.recent-pics img{
    transition: all .5s ease;
}

.recent-pics img:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.recent-pics.show4{
    opacity: 1;
    filter: blur(0px);
    transform: translateX(0%)
}

.recent-img1{
    max-width: 27.7%;
}

.recent-img1 img{
    width: 100%;
}


.recent-img2{
    max-width: 28.5%;
}

.recent-img2 img{
    width: 100%;
}


.recent-img3{
    max-width: 26%;
}

.recent-img3 img{
    width: 100%;
}

.date{
    background-color: #036e3a;
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: center;
   
}

.date span{
    color: white;
    
}

.date #date{
    font-size: 2.3rem;
    font-weight: 900;

}

.date3 #year{
    font-size: 0.9rem;
 
}

.flex{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.img-description{
    text-align: justify;
    font-weight: 500;
    
}


.what-they-say{
    width: 100vw;
    min-height: 100vh;
}

.what-they-say h1{
    text-align: center;
    color: #036e3a;
    padding-top: 20px;
    font-size: 2.5rem;
    letter-spacing: 2px;
}

.div{
    display: flex;
    align-items: center;
    margin-top: 20px;
  
}

.what-they-say-image{
    width: 800px;

}

.what-they-say-image img{
    width: 100%;
}

.reviews{
    
    width: 800px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.review{
    width: 100%;
    padding: 10px;
}

.review p{
    padding-bottom: 20px;
}

.img-review{
    padding-bottom: 20px;
}


.review,
.hidden{
    display: none;
}

.active{
    display: block;
    animation: fade-animation;
    animation-duration: 2s;
    
}

@keyframes fade-animation{
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
        
    }
}

.user-profile1{
  background-image: url("./Images/pexels-lamar-belina-6995567.jpg");
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  
}

.user-profile2{
    background-image: url("./Images/pexels-mart-production-9558758.jpg");
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    width: 50px;
    height: 50px;
  }

  .user-profile3{
    background-image: url("./Images/pexels-spencer-selover-428364.jpg");
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    width: 50px;
    height: 50px;
  }

  .user-profile4{
    background-image: url("./Images/pexels-justin-shaifer-1222271.jpg");
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    width: 50px;
    height: 50px;
  }


  .user-profile5{
    background-image: url("./Images/pexels-cottonbro-studio-4100484.jpg");
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    width: 50px;
    height: 50px;
  }


.review-rating{
    display: flex;
    align-items: center;
    gap: 20px;
}

.star-div{
    color: goldenrod;
    font-size: 1.2rem;
}

.star-div-none{
    color: goldenrod;
    font-size: 1.2rem;
}

.img-review{
    display: flex;
    gap: 10px;
    align-items: center;
}


.review-rating span{
    font-weight: bold;
}

